<!DOCTYPE html>
<html lang="en">
<head>
  <title>Gift Guru</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>


<div class="jumbotron text-center" id="title-box">
  <h1>Here are your results!</h1>

  <p>Scroll below to see your options</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Gift#1</h3>
      <img src="http://www.ismanet.com/wp-content/uploads/2016/01/Gifts-07.jpg" class="img-circle" alt="Gift1">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Gift #2</h3>
      <img src="http://sixtypull.sixtyandmellc.netdna-cdn.com/wp-content/uploads/2015/10/Sixty-and-Me_What%E2%80%99s-the-Best-Gift-for-a-Woman-on-Her-50th-Birthday-740x416.jpg" class="img-circle" alt="Gift2">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <img src="http://67.media.tumblr.com/5711460850b05809a79ae02ab64a2e8d/tumblr_mxx79sXWlN1qkmsleo1_500.jpg" class="img-circle" alt="Gift3">
      <h3>Gift #3</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
  </div>
</div>

</body>
</html>
