<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>eva random test</title>
  </head>
  <body>
    <h1><%=@title%></h1>
    <img href="<%=@image%>">
    <h3><%=@desc%></h3>
    <h3><%=@price%></h3>
  </body>
</html>
